# Xcode
*.xcuserstate
xcuserdata/
*.moved-aside
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

# Build
build/
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / SPM
Pods/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride

# SwiftData / Core Data
*.sqlite
*.sqlite-shm
*.sqlite-wal
